// colors
$primary-text: #273037;
$secondary-text: lighten($primary-text, 20%);
$primary-color: #FF3C89;
$primary-gradient: linear-gradient(to right, $primary-color 0%, lighten($primary-color, 20%) 100%);
$secondary-color:#461E27;
