// Custom

.header {
    background: url(../assets/images/BG.png) no-repeat center center;
    background-size: cover;
    height: 85vh;
    position: relative;
    
}

.flex__content--header {
    height: calc(85vh - 110px);
    display: flex;
    flex-flow: wrap row;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    height: 110px;
    width: 100%;
}

.header__content {
    // margin-top: 2.5rem;
    align-self: center;
    width: 568px;
    padding: 30px;
}

nav {
    ul {
        margin: 10px 0px 0px;
    }
    li {
        text-decoration: none;
        list-style: none;
        display: inline;
        padding-right: 48px;
        
        &:last-child{
            padding-right: 0;
        }
        
        a {
            color: $primary-text;
            font-family: 'Libre Baskerville';
            text-transform: capitalize;
            font-size: 1.125rem;
            text-decoration: none;
            font-weight: bold;
            
            &:hover {
                text-decoration: none;
                color: $secondary-color;
            }
            
            &.btn-nav{
                color: $primary-color;
                background: #fff;
                padding: 12px 32px;
                border-radius: 50px;
                box-shadow: 0px 4px 16px rgba(255, 60, 137, 0.2);
                text-transform: uppercase;
                &:hover {
                    color: #fff;
                    background:$primary-color;
                    text-decoration: none;
                }
                
            }
        }
        
    }
}

.h1--header {
    margin-bottom: 2rem;
}

.p--header {
    font-size: 1.5rem;
    line-height: 2rem;
    color: $primary-text;
    margin-bottom: 2rem;
    opacity: 0.7;
    
}

.btn-content {
    @include primary-button($primary-gradient, $primary-color);
}

.go-bottom {
    content: url('../assets/images/Btn-Bottom.png');
    bottom: -38px;
    left: 50%;
    position: absolute;
    // animation: bounce 1s infinite alternate;
    animation: bounce 1s ease-out infinite;
    @-webkit-keyframes bounce {
        0% {
            transform: scale(1,1) translate(0px, 0px);
        }
        
        30%{
            transform: scale(1,1) translate(0px, 10px); 
        }
        
        100%{
            transform: scale(1,1) translate(0px, -10px); 
        }
        
        100% {
            transform: scale(1,1) translate(0px, 0px);
        }
    }
    
}