.section1 {
    padding: 90px 0px;
    
    .section1__h2 {
        text-align: center;
        margin-bottom: 32px;
        text-transform: uppercase;
    }
    .section1__text {
        text-align: center;
        color: $secondary-text;
        margin-bottom: 60px;
    }
    
}