.section3 {

    padding: 60px 0px;
    
    &__title {
        text-align: center;
    }
    &__cards {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            justify-content: center;
        .card {
            width: calc(33% - 24px);
            margin-right: 24px;
            background: #fff;
            border-radius: 4px;
            box-shadow: 0px 2px 8px rgba(39, 48, 55, 0.1);
            padding: 32px;
            margin-bottom: 32px;
            text-align: center;
            box-sizing: border-box;
            
            &:last-child() {
                margin-right: 0;
            }
            

            &__img {
                margin-bottom: 24px;
                align-self: center;
                vertical-align: middle;
            }
    
            &__title {
                margin-bottom: 24px;
            }
    
            &__text {
                margin-bottom: 24px;
            }
    
            &__btn {
                @include primary-button($blue-gradient, $blue, $blue);
            }

            &__btn--numerique {
                 @include primary-button($green-gradient, $green, $green);
            }

            &__btn--packaging {
                 @include primary-button($pink-gradient, $pink, $pink);
            }

            &__btn--finition {
                 @include primary-button($yellow-gradient, $yellow, $yellow);
            }
        }   
    }
}

