.section1 {
    padding: 90px 0px;
    
    &__title {
        text-align: center;
        margin-bottom: 32px;
        text-transform: uppercase;
    }
    &__text {
        text-align: center;
        color: $secondary-text;
        margin-bottom: 60px;
    }
    
}